@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #5956e8;

  --white: #fffefe;
  --black: #181818;
}
body {
  font-family: "Inter", sans-serif;
}
/* =========Nevbar========== */
header {
  padding: 34px 0;
}
.title {
  text-align: center;
}
.title_heading {
  font-size: 40px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 20px;
}
.title_subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.container {
  max-width: 1170px;
}
.nav-item {
  margin-left: 50px;
  font-weight: 500;
}

.nav-item:hover a {
  color: var(--primary);
}
.Nevbarbtn {
  background: var(--primary);
  outline: none;
  padding: 13px 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
/* =====banner====== */
#banner {
  background: var(--primary);
  padding-top: 165px;
  padding-bottom: 200px;
}
#banner h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 80px;
  color: var(--white);
}
#banner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white);
  max-width: 508px;
  margin-top: 25px;
}
#banner button {
  font-size: 18px;
  background: var(--white);
  color: var(--primary);
  outline: none;
  padding: 13px 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
/* =========service======= */
#Service {
  margin-top: 83px;
  margin-bottom: 100px;
}
.service_icon {
  border: 1px solid var(--primary);
  font-size: 37px;
  padding: 17px;
  border-radius: 10px;
  color: var(--primary);
}
.service_heading {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
  margin-top: 30px;
  margin-bottom: 20px;
}
.service_pera {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(24, 24, 24, 0.7);
  max-width: 268px;
}
.service_item {
  border: 1px solid rgb(255, 255, 255);
  max-width: 370px;
  padding: 63px 48px;
  border-radius: 10px;
  transition: 0.4s;
}
.service_item:hover {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}
.service_item:hover .service_icon {
  background: var(--primary);
  color: var(--white);
  transition: 0.4s;
}
.item_box {
  row-gap: 30px;
}
/* ========portfolio========= */
#portfolio {
}
.portfolioimg_box {
  position: relative;
}
.portfolioimg_box:hover .protfoliooverlay {
  height: 113px;
}
.portfolioimg_box:hover .overlyh2 {
  opacity: 1;
}
.portfolioimg_box:hover a {
  opacity: 1;
}
.protfoliooverlay {
  width: 213px;
  height: 0px;
  background: var(--primary);
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  text-align: center;
  transition: 0.4s;
}
.overlyh2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  line-height: 27px;
  margin-top: 25px;
  opacity: 0;
}
.protfoliooverlay a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  line-height: 27px;
  opacity: 0;
}
.wrappwer {
  row-gap: 30px;
}
/* ==========member===== */
#member {
  margin-bottom: 142px;
  margin-top: 100px;
}
.memberimg_item {
  position: relative;
}
.teammember_overly {
  width: 100%;
  height: 300px;
  background: linear-gradient(0deg, rgb(89, 86, 232), transparent, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: center;
}
.overly_heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  color: var(--white);
}
.overly_rapper {
  text-align: center;
}
.overly_subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white);
}
/* ==========customer======== */
#customer {
  margin-bottom: 142px;
}
.customer__titleheading {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  max-width: 603px;
  color: var(--black);
}
.customer__titlepera {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 542px;
  color: rgba(24, 24, 24, 0.7);
  margin-top: 20px;
  margin-bottom: 50px;
}
.customer__card__list {
  list-style: none;
  display: flex;
  color: #fbbf25;
  gap: 7px;
  margin-top: 30px;
}
.customer__card__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 274px;
  color: rgba(24, 24, 24, 0.7);
  margin-top: 20px;
  margin-bottom: 15px;
}
.customer__card__h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: var(--black);
}
.customer__card__subh2 {
  font-size: 16px;
  font-weight: 400;
  color: #5d5d5d;
}
.customer__card {
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.08);
  padding: 48px;
  border-radius: 10px;
  position: relative;
}
.customer__icon {
  position: absolute;
  bottom: 24px;
  right: 30px;
  font-size: 63px;
  color: rgba(89, 86, 232, 0.102);
}
/* ============news========== */
#news {
  margin-bottom: 100px;
}
.news__item__wrapper {
  display: flex;
  gap: 30px;
  margin-top: 19px;
  margin-bottom: 10px;
}
.news__item__icon {
  display: flex;
  gap: 10px;
}
.news__item__icon2 {
  display: flex;
  gap: 10px;
}
.news__item__iconh2 {
  font-size: 16px;
  font-weight: 400;
  color: #5d5d5d;
}
.news__item__iconh3 {
  font-size: 16px;
  font-weight: 400;
  color: #5d5d5d;
}
.news__item__title__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 271px;
  color: var(--black);
}
.news__item__title__pera {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 300px;
  color: #5d5d5d;
  margin-top: 15px;
  margin-bottom: 10px;
}
.news__item__title a {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary);
  margin-bottom: 46px;
}
.news__item {
  border: #e3e3e3 1px solid;
  border-radius: 10px;
  padding: 17px 19px 46px;
}
/* ============footer========== */
#footer__part {
  margin-bottom: 100px;
  background: rgba(89, 86, 232, 0.102);
  padding: 100px 100px;
}
.footer__logo__pera {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 300px;
  color: #5d5d5d;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon__wrapper {
  display: flex;
  gap: 15px;
}
.fb_icon {
  color: var(--primary);
  background: #ffffff;
  border-radius: 50%;
  width: 42px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.t_icon {
  color: var(--primary);
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 18px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contact {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #181818;
}
.contact__a {
  text-decoration: none;
  color: #5d5d5d;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  display: inline;
}
/* ==============responsive============= */
@media (min-width: 320px) and (max-width: 575px) {
  /* ==============navbar=========== */
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
  .navbar-brand {
    width: 25%;
  }
  /* ==============banner=========== */
  #banner {
    padding-top: 35px;
  }
  header {
    padding: 0px 0;
  }
  .Nevbarbtn {
    padding: 8px 10px;

    font-size: 14px;
  }
  .nav-item {
    margin-left: 10px;
  }
  #banner h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 56px;
  }
  #banner button {
    font-size: 14px;

    margin-top: 10px;
  }
  .item img {
    width: 100%;
    margin-top: 35px;
  }
  .navbar-brand {
    width: 50%;
  }
  #banner {
    padding-bottom: 70px;
  }
  .title_heading {
    font-size: 30px;

    margin-bottom: 14px;
  }
  /* ============service========= */
  #Service {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  .title_subheading {
    margin-bottom: 20px;
  }
  .item_box {
    row-gap: 20px;
  }
  .service_icon {
    font-size: 25px;
    padding: 15px;
  }
  .service_item {
    padding: 35px 35px;
  }
  .service_heading {
    font-size: 23px;

    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* ===========protfolio=========== */
  .portfolioimg_box img {
    width: 100%;
  }
  .wrappwer {
    row-gap: 20px;
  }
  /* ================member========== */
  .mamber__card {
    gap: 20px;
  }
  #member {
    margin-bottom: 40px;
    margin-top: 35px;
  }
  #member {
    margin-bottom: 40px;
    margin-top: 35px;
  }
  /* ================customer========== */
  .customer__titleheading {
    font-size: 31px;
  }
  .customer__card {
    padding: 35px;
  }
  .customer__titlepera {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .customer__row {
    gap: 20px;
  }
  #customer {
    margin-bottom: 45px;
  }
  /* ================news========== */
  .news__item img {
    width: 100%;
  }
  .news__gap {
    gap: 20px;
  }
  #news {
    margin-bottom: 45px;
  }
  /* ================footer========== */
  .footer__column {
  }
  .footer__logo img {
    width: 70px;
  }
  #footer__part {
    padding: 60px 35px;
  }
  .contact {
    font-size: 15px;
  }
  .contact__a {
    font-size: 14px;

    line-height: 30px;
  }
  #footer__part {
    margin-bottom: 0px;
  }
  .footer__part__contact {
    margin-bottom: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* ==============navbar=========== */
  .navbar-brand {
    width: 45px;
  }
  .navbar-brand img {
    width: 100%;
  }
  .Nevbarbtn {
    padding: 10px 16px;

    font-size: 14px;
    font-weight: 400;
  }
  .nav-item {
    margin-left: 5px;
  }
  header {
    padding: 0px 0;
  }
  /* ==============banner=========== */
  #banner {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  #banner h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 70px;
  }
  #banner button {
    padding: 11px 20px;

    font-size: 15px;

    margin-top: 15px;
  }
  .item img {
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }
  /* ============service========= */
  #Service {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .title_subheading {
    margin-bottom: 35px;
  }
  .service_item {
    padding: 50px 35px;
  }
  .service_icon {
    font-size: 25px;
    padding: 14px;
  }
  .service_heading {
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 10px;
  }
  .item_box {
    row-gap: 25px;
  }
  /* ===========protfolio=========== */
  .portfolioimg_box img {
    width: 100%;
  }
  /* ================member========== */
  #member {
    margin-bottom: 70px;
    margin-top: 70px;
  }
  .mamber__card {
    gap: 30px;
  }
  /* ================customer========== */
  .customer__titleheading {
    font-size: 35px;

    line-height: 43px;
  }
  .customer__titlepera {
    font-size: 14px;

    line-height: 25px;

    margin-top: 10px;
    margin-bottom: 35px;
  }
  .customer__card {
    padding: 25px;
  }
  .customer__card__list {
    margin-top: 20px;
  }
  .customer__card__p {
    font-size: 14px;

    line-height: 25px;

    margin-top: 15px;
  }
  .customer__card__h2 {
    font-size: 15px;

    line-height: 24px;
  }
  .customer__card__subh2 {
    font-size: 14px;
  }
  .customer__icon {
    font-size: 35px;
  }
  #customer {
    margin-bottom: 50px;
  }
  /* ================news========== */
  .news__item img {
    width: 100%;
  }
  .news__item__iconh2 {
    font-size: 14px;
  }
  .news__item__wrapper {
    gap: 16px;

    margin-bottom: 5px;
  }
  .news__item__icon {
    gap: 6px;
  }
  .news__item__iconh3 {
    font-size: 14px;
  }
  .news__item__title__heading {
    font-size: 16px;

    line-height: 22px;
  }
  .news__item__title__pera {
    font-size: 14px;

    line-height: 23px;

    margin-top: 10px;
    margin-bottom: 6px;
  }
  .news__item {
    padding: 15px 8px 25px;
  }
  #news {
    margin-bottom: 50px;
  }
  /* ================footer========== */
  #footer__part {
    margin-bottom: 0;

    padding: 30px 50px;
  }
  .ffffff {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* ==============navbar=========== */
  header {
    padding: 0px 0;
  }
  .navbar-brand {
    width: 100px;
  }

  .nav-item {
    margin-left: 40px;
  }
  .Nevbarbtn {
    padding: 10px 18px;

    font-size: 15px;
  }

  /* ==============banner=========== */
  #banner {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  #banner h1 {
    font-size: 48px;

    line-height: 75px;
  }
  #banner p {
    font-size: 15px;

    margin-top: 20px;
  }
  #banner button {
    font-size: 18px;

    padding: 10px 20px;

    font-size: 14px;

    margin-top: 15px;
  }
  .item {
    width: 435px;
  }
  /* ============service========= */
  #Service {
    margin-top: 56px;
    margin-bottom: 60px;
  }
  .service_item {
    padding: 40px 40px;
  }
  /* ===========protfolio=========== */
  .portfolioimg_box img {
    width: 100%;
  }
  /* ================member========== */
  #member {
    margin-bottom: 75px;
    margin-top: 70px;
  }
  /* ================customer========== */
  #customer {
    margin-bottom: 90px;
  }

  /* ================news========== */
  .news__item img {
    width: 100%;
  }
  #news {
    margin-bottom: 50px;
  }
  /* ================footer========== */
  .ffffff {
    margin-bottom: 20px;
  }
  #footer__part {
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* ==============navbar=========== */
  header {
    padding: 0px 0;
  }
  .navbar-brand {
    width: 100px;
  }

  .nav-item {
    margin-left: 40px;
  }
  .Nevbarbtn {
    padding: 10px 18px;

    font-size: 15px;
  }

  /* ==============banner=========== */
  #banner {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  #banner h1 {
    font-size: 48px;

    line-height: 75px;
  }
  #banner p {
    font-size: 15px;

    margin-top: 20px;
  }
  #banner button {
    font-size: 18px;

    padding: 10px 20px;

    font-size: 14px;

    margin-top: 15px;
  }
  .item {
    width: 435px;
  }
  /* ============service========= */
  #Service {
    margin-top: 56px;
    margin-bottom: 60px;
  }
  .service_item {
    padding: 40px 40px;
  }
  /* ===========protfolio=========== */
  .portfolioimg_box img {
    width: 100%;
  }
  /* ================member========== */
  #member {
    margin-bottom: 75px;
    margin-top: 70px;
  }
  /* ================customer========== */
  #customer {
    margin-bottom: 90px;
  }

  /* ================news========== */
  .news__item img {
    width: 100%;
  }
  #news {
    margin-bottom: 50px;
  }
  /* ================footer========== */
  .ffffff {
    margin-bottom: 20px;
  }
  #footer__part {
    margin-bottom: 0px;
  }
}
